@page "/booking"
@using Hotel_App.Data
@using Hotel_App.Service
@inject NavigationManager NavigationManager
@inject RoomService RoomService
@inject HttpClient Http
@using System.Net.Http.Json
<header class="px-2 py-3" style="background-color: #2549ff">
	<div class="">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
				<img src="/img/logoSGU.png" width="50" height="50" />
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
				<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
			</form>

			@* kiểm tra khi khôgn có user sẽ hiển thị  *@
			<div class="d-none">
				<button type="button" class="btn btn-outline-primary me-2"><a href="#" class="nav-link">Đăng nhập</a></button>
				<button type="button" class="btn btn-primary"><a href="#" class="nav-link link-dark text-white">Đăng ký</a></button>
			</div>

			<div class="dropdown text-end">
				<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" href="#">New project...</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<section class="h-auto" style="background-color: #f0f2f5">
	<div>
		<h1>Booking Hotel</h1>
	</div>
	<div class="px-2">

		<h2 class="mt-2 border-top d-block">Phòng trống</h2>
		<div class="d-flex justify-content-start my-2">
			<div class="datepicker">
				<label for="start-date" class="form-label">Check-in Date:</label>
				<input type="text" id="start-date" class="form-control" placeholder="Select check-in date">
			</div>
			<div class="datepicker">
				<label for="end-date" class="form-label">Check-out Date:</label>
				<input type="text" id="end-date" class="form-control" placeholder="Select check-out date">
			</div>
		</div>

		<script>
			$(document).ready(function () {
			var startDate = $('#start-date');
			var endDate = $('#end-date');

			startDate.datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true,
			todayHighlight: true
			});

			endDate.datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true,
			todayHighlight: true
			});

			// Xử lý khi chọn ngày cho startDate
			startDate.on('changeDate', function (selected) {
			var currentDate = new Date();
			currentDate.setHours(0, 0, 0, 0); // Đặt giờ về 0 để so sánh ngày
			var selectedDate = new Date(selected.date.valueOf());
			selectedDate.setHours(0, 0, 0, 0);

			if (selectedDate < currentDate) {
			startDate.datepicker('setDate', currentDate);
			}

			var minDate = new Date(selected.date.valueOf());
			minDate.setDate(minDate.getDate() + 1);
			endDate.datepicker('setStartDate', minDate);

			if (endDate.val() === '') {
			endDate.datepicker('setDate', minDate);
			}
			});
			});
		</script>
		<div class="">
			<table class="table table-bordered table-striped table-responsive-md">
				<thead class="table-dark">
					<tr>
						<th scope="col">Loại phòng</th>
						<th scope="col">Giá</th>
						<th scope="col">Số phòng</th>
						<th scope="col">Mô tả</th>
						<th scope="col">Số lượng</th>
					</tr>
				</thead>
				<tbody>
					@if (phongs != null && phongs.Any())
					{
						@foreach (var phong in phongs.Where(p => p.TrangThaiPhong == 1))
						{
							<tr>
								<td scope="col">
									<div class="d-flex align-baseline">
										<div class="flex-md-row me-3">
											<div class="mb-1" style="max-width: 204px; height: 114px;">
												<img src="https://cf.bstatic.com/xdata/images/hotel/max500/274543815.jpg?k=f6c0dc4d0d1d175a8de643d6e23c80b620147156fb01a220938577872782d384&o=" class="img-fluid rounded-3 w-100 h-100" alt="Hình ảnh 1">
											</div>
											<div class="flex-row d-flex align-items-center justify-content-between">
												<div class="me-1" style="max-width: 100px; height: 56px;">
													<img src="https://cf.bstatic.com/xdata/images/hotel/max500/274543645.jpg?k=f0d023c8f640749669e2e69005a47d154b45a8b914a165ab877bb458dd782ac1&o=" class="img-fluid rounded-3 w-100 h-100" alt="Hình ảnh 2">
												</div>
												<div class="" style="max-width: 100px; height: 56px;">
													<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/274543555.jpg?k=94e5eecc58931591e05c6e65bef9bc878820145cf008a28bf586f40946d228cd&o=" class="img-fluid rounded-3 w-100 h-100" alt="Hình ảnh 3">
												</div>
											</div>
										</div>
										<span>
											@phong.LoaiPhong.TenLoaiPhong
										</span>
									</div>

								</td>
								<td scope="col">@phong.LoaiPhong.Gia</td>
								<td scope="col">@phong.SoPhong</td>
								<td scope="col">@phong.LoaiPhong.Mota</td>
								<td scope="col">@phong.LoaiPhong.SoLuongPhong</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="5">Không có dữ liệu phòng</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section>

<footer></footer>

@code {
	List<Phong> phongs;

	protected override async Task OnInitializedAsync()
	{
		phongs = await Http.GetFromJsonAsync<List<Phong>>("https://localhost:44359/api/Room/GetRoomInfo");
	}
}
