	@page "/booking/GetRoomDetails/{RoomID:int}/{StartDate:datetime}/{EndDate:datetime}/{PriceRoom:decimal}/{TypeRoomID:int}"
	@using Hotel_App.Service
	@using Hotel_App.Data
	@inject RoomService RoomService
	@inject HotelService<PhuongThucThanhToan> paymentMethodService;
	@inject NavigationManager NavigationManager
	@inject IJSRuntime JSRuntime
	@inject HotelService<HoaDon> BillService
<header class="px-2 py-3" style="background-color: #2549ff">
	<div class="">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
				<img src="/img/logoSGU.png" width="50" height="50" />
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
				<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
			</form>

			@* <div class="d-none"> *@
			@* 	<button type="button" class="btn btn-outline-primary me-2"><a href="#" class="nav-link">Đăng nhập</a></button> *@
			@* 	<button type="button" class="btn btn-primary"><a href="#" class="nav-link link-dark text-white">Đăng ký</a></button> *@
			@* </div> *@
			<div class="dropdown text-end">
				<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" href="#">New project...</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="container mt-5">
	<h2 class="text-center">Xác nhận đặt phòng</h2>
	<p class="text-center">Experience something new every moment.</p>
	@if (!string.IsNullOrEmpty(errorMessage))
	{
		<p class="alert alert-danger" style="color: black;">@errorMessage</p>
	}
	<div class="row">
		<div class="d-flex justify-content-lg-between">
			<div class="me-3">
				<h3>Thông tin khách hàng</h3>
				<ul class="list-group">
					<li class="list-group-item d-flex flex-row align-items-baseline">
						<select class="form-select" style="width: 300px" id="" @onchange="@((e) => OnCustomerChange(e))">
							<option>Chọn khách hàng</option>
							@foreach (var item in listKhachHang)
							{
								<option value="@item.MaKhachHang">@item.HoTen</option>
							}
						</select>
					</li>
					<li class="list-group-item"><strong>Mã:</strong> @khachHang.MaKhachHang</li>
					<li class="list-group-item"><strong>Tên:</strong> @khachHang.HoTen</li>
					<li class="list-group-item"><strong>Số điện thoại:</strong> @khachHang.SoDienThoai</li>
					<li class="list-group-item"><strong>Email:</strong> @khachHang.Email</li>

				</ul>
			</div>
			<div class="w-100">
				<h3 class="mt-1">Thông tin đặt phòng</h3>
				<ul class="list-group">
					<li class="list-group-item"><strong>Loại phòng:</strong> @loaiPhong.TenLoaiPhong</li>
					<li class="list-group-item"><strong>Số phòng:</strong> @room.SoPhong</li>
					<li class="list-group-item"><strong>Giá phòng ngày hôm nay:</strong> @loaiPhong.Gia VNĐ</li>
					<li class="list-group-item"><strong>Ngày nhận phòng:</strong> @StartDate</li>
					<li class="list-group-item"><strong>Ngày trả phòng:</strong> @EndDate</li>
					<li class="list-group-item"><strong>Số ngày đặt:</strong> @NumberOfDays</li>

					<li class="list-group-item d-flex flex-row align-items-baseline">
						<select @onchange="SelectPaymentMethod" class="form-select" style="width: 300px" id="paymentMethodDropdown">
							@if (methods != null)
							{
								<option>Chọn phương thức thanh toán</option>
								@foreach (var item in methods)
								{
									<option value="@item.MaPhuongThuc">@item.TenPhuongThuc</option>
								}
							}
						</select>
					</li>

					<li class="list-group-item d-flex flex-row align-items-baseline">
						<select @onchange="CalculateTotalPrice" class="form-select" style="width: 220px" aria-label="Default select example">
							@if (AvailableRooms != null)
							{
								<option>Chọn số lượng phòng</option>
								@foreach (var item in AvailableRooms)
								{
									<option value="@item">@item phòng</option>
								}
							}
						</select>
					</li>
					<li class="list-group-item"><strong>Tổng số tiền phải trả:</strong> <span id="totalPrice"></span></li>
					<script>
						window.updateTotalPriceElement = (total) => {
						document.getElementById("totalPrice").innerText = ` ${total} VNĐ`;
						};
					</script>
				</ul>
				<div class="align-self-end mt-3">
					<button @onclick="ThanhToan" type="button" class="btn btn-primary">Thanh toán</button>
					<NavLink href=@string.Format("/booking") class="btn btn-secondary"><i class="fas fa-redo"></i>Quay lại</NavLink>
				</div>
			</div>
		</div>
	</div>

</div>
@code {
	[Parameter]
	public int RoomID { get; set; }
	[Parameter]
	public DateTime StartDate { get; set; }
	[Parameter]
	public DateTime EndDate { get; set; }
	[Parameter]
	public decimal PriceRoom { get; set; }
	[Parameter]
	public int TypeRoomID { get; set; }

	private int CustomerID { get; set; }

	KhachHang khachHang { get; set; }
	LoaiPhong loaiPhong { get; set; }
	private DatPhong datPhong { get; set; }
	private Phong room { get; set; }
	private HoaDon hoaDon { get; set; }
	private List<KhachHang> listKhachHang { get; set; }
	private IEnumerable<PhuongThucThanhToan> methods;

	PhuongThucThanhToan paymentMethod { get; set; }

	private int countAvailableRooms { get; set; }
	private List<int> availableRoomCounts { get; set; }
	List<string> AvailableRooms { get; set; }
	private int NumberOfDays => (EndDate - StartDate).Days;

	private decimal ToltalPriceRoom;
	private int selectedPaymentMethodId = 0;

	private DateTime today = DateTime.Today;

	private int selectedCustomerID { get; set; }
	public HoaDon bill { get; set; }

	private string errorMessage = "";

	protected async override Task OnInitializedAsync()
	{
		khachHang = new KhachHang();
		room = new Phong();
		loaiPhong = new LoaiPhong();
		paymentMethod = new PhuongThucThanhToan();
		availableRoomCounts = new List<int>();
		AvailableRooms = new List<string>();
		listKhachHang = new List<KhachHang>();
		bill = new HoaDon();


		await RoomService.GetByIdAsync("https://localhost:44359/api/Room/GetRoomDetails/{0}/{1}/{2}{3}/{4}", RoomID, StartDate, EndDate, PriceRoom, TypeRoomID);
		// khachHang = await RoomService.GetCustomerByIdAsync("https:localhost:44359/api/Room/api/Room/GetCustomerInfo/{0}", 1);
		room = await RoomService.GetRoomByIdAsync("https://localhost:44359/api/Room/GetRoomInfo/{0}", RoomID);
		loaiPhong = await RoomService.GetRoomTypeByIdAsync("https://localhost:44359/api/Room/GetRoomTypeInfo/{0}", TypeRoomID);
		methods = await paymentMethodService.GetAllAsync("https://localhost:44359/api/PTTT/GetPTTT");
		listKhachHang = await RoomService.GetCustomers();



		await LoadAvailableRooms();
	}

	private async Task LoadAvailableRooms()
	{
		var roomCount = await RoomService.GetAvailableRoomCountAsync(TypeRoomID, StartDate, EndDate);
		AvailableRooms = Enumerable.Range(1, roomCount).Select(i => $"{i}").ToList();
		foreach (var item in AvailableRooms)
		{
			Console.WriteLine("AvailableRooms item: " + item);
		}
	}

	// tính tổng số tiền phòng
	private void CalculateTotalPrice(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value.ToString(), out int numberOfRooms))
		{
			ToltalPriceRoom = (PriceRoom * NumberOfDays) * numberOfRooms;
			StateHasChanged(); // Cập nhật giao diện
			JSRuntime.InvokeVoidAsync("updateTotalPriceElement", ToltalPriceRoom);
		}
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("updateTotalPriceElement", ToltalPriceRoom);
		}
	}
	[JSInvokable]
	private void updateTotalPrice(decimal total)
	{
		JSRuntime.InvokeVoidAsync("updateTotalPriceElement", total);
	}

	//lấy mã phương thức thanh toán
	private void SelectPaymentMethod(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value.ToString(), out int selectedId))
		{
			selectedPaymentMethodId = selectedId;
			paymentMethod = methods.FirstOrDefault(m => m.MaPhuongThuc == selectedPaymentMethodId);
			StateHasChanged();

		}
	}
	private void OnCustomerChange(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value.ToString(), out int customerId))
		{
			selectedCustomerID = customerId;
			khachHang = listKhachHang.FirstOrDefault(c => c.MaKhachHang == customerId);
			StateHasChanged(); // Update UI with new customer information

		}
	}
	// thanh toán đặt phòng
	private async Task ThanhToan()
	{
		if (selectedCustomerID == 0 || selectedPaymentMethodId == 0 || ToltalPriceRoom == 0)
		{
			Console.WriteLine("Vui lòng chọn đầy đủ thông tin trước khi thanh toán.");
			// Hiển thị thông báo lỗi trên giao diện người dùng nếu cần
			errorMessage = "Vui lòng chọn đầy đủ thông tin trước khi thanh toán.";
			return;
		}
		datPhong = new DatPhong();
		datPhong.MaKhachHang = selectedCustomerID;
		datPhong.CheckInDate = StartDate;
		datPhong.CheckOutDate = EndDate;
		datPhong.MaPhong = RoomID;
		datPhong.TongTien = ToltalPriceRoom;
		datPhong.TrangThai = 1;

		var result = await RoomService.AddDatPhong(datPhong);
		if (result != null)
		{
			if (bill.CTHoaDon == null) bill.CTHoaDon = [];
			bill.NgayTao = today;
			bill.TongSoTien = ToltalPriceRoom;
			bill.MaPhuongThuc = selectedPaymentMethodId;
			bill.MaTaiKhoan = 1;
			bill.MaDatPhong = result.MaDatPhong;
			HoaDon savedBill = await BillService.SaveAsync("https:localhost:44359/api/Bills/CreateBill", bill);
		}
		Console.WriteLine($"THong tin dat phong: {datPhong.MaKhachHang}");
		Console.WriteLine($"THong tin dat phong: {datPhong.CheckInDate}");
		Console.WriteLine($"THong tin dat phong: {datPhong.CheckOutDate}");
		Console.WriteLine($"THong tin dat phong: {datPhong.MaPhong}");
		Console.WriteLine($"Ma khach hang chon: {selectedCustomerID}");
		Console.WriteLine($"Ma phuong thuc chon duoc: {selectedPaymentMethodId}");
	}
}
