@page "/index"
@using Hotel_App.Service
@using Hotel_App.Data
@using Blazored.LocalStorage
@using Hotel_App.Shared
@using System;
@using Microsoft.JSInterop
@using Newtonsoft.Json
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService
@inject IAuthorizationService authorizationService
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject IUserService userService
@inject HotelService<TaiKhoan> nvservice;

<PageTitle>Index</PageTitle>

<h1><b>Trang chủ</b></h1>

Phần mềm quản lý khách sạn.
<div>
<h2><b>Thông tin tài khoản</b></h2>
@if(user!=null){
        <h3><b>Mã tài khoản:</b>@user.MaTaiKhoan</h3>
        <h3><b>Họ tên:</b>@user.HoTen</h3>
        <h3><b>Email:</b>@user.Email</h3>
        <h3><b>Địa chỉ:</b>@user.DiaChi</h3>
        <h3><b>SĐT:</b>@user.SoDienThoai</h3>

    }
</div>

@code{
    [Parameter]
    public int userid { get; set; }
    public TaiKhoan user { get; set; }
    bool isLoading = true;

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        var storedUserData = await localStorageService.GetItemAsync<string>("userData");
        if (storedUserData != null)
        {
            user = JsonConvert.DeserializeObject<TaiKhoan>(storedUserData);
        }

        isLoading = false; // Set loading indicator to false
    }
  
}