@page "/bills/details/{billId:int}"
@using Hotel_App.Service
@using Hotel_App.Data
@using Blazored.LocalStorage
@using Hotel_App.Shared
@using System;
@inject HotelService<HoaDon> BillService
@inject HoaDonService CTHoaDonService
<div class="col-12">

    <h3>Bill details</h3>
    <SpinLoader IsLoading="isLoading">
        <LoadingTemplate>
            <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
                <br /><br />
                <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            @if (bill == null)
            {
                <p>No bill found.</p>
            }
            else
            {


                <tr>
                    <th>Mã hóa đơn</th>
                    <td>@bill.MaHoaDon</td>
                </tr>
                <tr>
                    <th>Ngày tạo</th>
                    <td>@bill.NgayTao</td>
                </tr>
                <tr>
                    <th>Nhân viên</th>
                    <td>@bill.MaNhanVien</td>
                </tr>
                <tr>
                    <th>Mã phương thức</th>
                    <td>@bill.MaPhuongThuc</td>
                </tr>
                <br />
                <table table table-bordered table-striped table-responsive-md>
                    <thead>
                        <tr>
                            <th>Mã dịch vụ</th>
                            <th>Tên dịch vụ</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cthd in bill.CTHoaDon)
                        {
                            <tr>
                                <td>@cthd.MaDichVu</td>
                                <td>@cthd.dv.TenDichVu</td>
                                <td>@cthd.dv.Gia</td>
                                <td><input style="width:50px" type="number" @bind-value="@cthd.SoLuong"  /></td>
                                <td>@cthd.TongTien</td>
                                <td>
                                    <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => EditBillDetail(cthd.dv.MaDichVu,cthd.SoLuong))">Edit</a> |
                                    <a style="text-underline-position:below; cursor:pointer; color:red" @onclick="(() => DeleteBillDetail(cthd.dv.MaDichVu))">Delete</a> |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </ContentTemplate>
    </SpinLoader>
</div>


        <button type="submit" class="btn btn-primary">Thêm</button>

    </EditForm>

</div>
<style>
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

@code {
    [Parameter]
    public int BillId { get; set; }

    public HoaDon bill { get; set; }
    public IEnumerable<CTHoaDon> cthdlist { get; set; }
    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }
    public bool IsGridViewFiltered { get; set; }
    public int newQuantity { get; set; }
    bool isLoading = true;

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        var task = BillService.GetByIdAsync("https://localhost:44359/api/Bills/details/{0}", BillId);
        bill = await task;

        if (bill != null)
        {
            cthdlist = await CTHoaDonService.GetCTHoaDonByMaHoaDon(bill.MaHoaDon);
        }

        isLoading = false; // Set loading indicator to false
    }
}
}