@page "/bills/details/{billId:int}"
@using Hotel_App.Service
@using Hotel_App.Data
@using Blazored.LocalStorage
@using Hotel_App.Shared
@inject HotelService<HoaDon> BillService
@inject HoaDonService CTHoaDonService
@inject HotelService<NhanVien> nvservice;
@inject HotelService<DatPhong> dpservice;
@inject HotelService<PhuongThucThanhToan> ptservice;

<div class="col-12">

    <h3>Bill details</h3>
    <SpinLoader IsLoading="isLoading">
        <LoadingTemplate>
            <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
                <br /><br />
                <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            @if (bill == null || nhanVien ==null)
            {
                <p>No bill found.</p>
            }
            else
            {
               
                    
                        <tr>
                            <th>Mã hóa đơn</th>
                            <td>@bill.MaHoaDon</td>
                        </tr>
                        <tr>
                            <th>Ngày tạo</th>
                            <td>@bill.NgayTao</td>
                        </tr>
                        <tr>
                            <th>Nhân viên</th>
                            <td>@nhanVien.HoTen</td>
                        </tr>
                        <tr>
                            <th>Mã phương thức</th>
                            <td>@pt.TenPhuongThuc</td>
                        </tr>
                        <br />
                <table class ="table table-bordered table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>MaDichVu</th>
                            <th>TenDichVu</th>
                            <th>Gia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cthd in bill.CTHoaDon)
                        {
                            <tr>
                                <td>@cthd.MaDichVu</td>
                                <td>@cthd.dv.TenDichVu</td>
                                <td>@cthd.dv.Gia</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </ContentTemplate>
    </SpinLoader>
</div>


@code {
    [Parameter]
    public int BillId { get; set; }
    public NhanVien nhanVien { get; set; }
    public DatPhong datPhong { get; set; }
    public HoaDon bill { get; set; }
    public PhuongThucThanhToan pt{ get; set; }
    public IEnumerable<CTHoaDon> cthdlist { get; set; }
    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }
    public bool IsGridViewFiltered { get; set; }
    bool isLoading = true;

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        var task = BillService.GetByIdAsync("https://localhost:44359/api/Bills/details/{0}", BillId);

        GetNhanVien();
        GetPhuongThuc();
        bill = await task;

        if (bill != null)
        {
            cthdlist = await CTHoaDonService.GetCTHoaDonByMaHoaDon(bill.MaHoaDon);
        }

        isLoading = false; // Set loading indicator to false
    }

    protected async Task GetDatPhong()
    {
        datPhong = await dpservice.GetByIdAsync("https://localhost:44359/api/NhanVien/GetByID/{0}")
    }
    protected async Task GetNhanVien()
    {
        nhanVien = await nvservice.GetByIdAsync("https://localhost:44359/api/NhanVien/GetByID/{0}",BillId);
    }
    protected async Task GetPhuongThuc()
    {
        pt = await ptservice.GetByIdAsync("https://localhost:44359/api/PTTT/GetByID/{0}", BillId);
    }
    protected async Task UpdateTongTien()
    {
        bill.
    }
}